@model IndexPageViewModel;
@{
    ViewData["Title"] = "ToDoList";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="d-flex justify-content-center align-items-center h-100">
    <div class="col col-xl-6 m-5">

    <div class="card shadow p-3 mb-5 bg-white rounded" style="border-radius: 10px;">
        <div class="card-body p-5">

            <h6 class="mb-3">Your To Do</h6>
                <form asp-action="AddTask" method="post">
                    <div>
                        <label for="title">Title:</label>
                        <input type="text" id="title" asp-for="NewTask.Title" />
                    </div>
                    <div>
                        <label for="dueDate">Due Date:</label>
                        <input type="date" id="dueDate" asp-for="NewTask.DueDate" />
                    </div>
                    <div>
                        <label for="categoryId">Category:</label>
                        <select id="categoryId" asp-for="NewTask.CategoryId">
                            <option value="1">Personal</option>
                            <option value="2">Work</option>
                            <option value="3">Other</option>
                        </select>
                    </div>
                    <button type="submit">Create Task</button>
                </form>

            @*<form asp-action="AddTask" class="d-flex justify-content-center align-items-center mb-4">
                <div class="form-outline flex-fill">
                    <input asp-for="Title" type="text" class="form-control form-control-lg" />
                </div>
                <button type="submit" class="btn btn-primary btn-lg m-2">Add</button>
            </form>*@

            <ul class="list-group mb-0">
                    @foreach (var task in Model.TasksList)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                            <div class="d-flex align-items-center">
                                <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
                                @task.Title
                            </div>
                            <a href="#!" data-mdb-toggle="tooltip" title="Remove item">
                                <i class="fas fa-times text-primary"></i>
                            </a>
                        </li>
                    }
            </ul>
        </div>
    </div>

    </div>
</div>
