@model CategoryIndexPageViewModel;
@{
    ViewData["Title"] = "ToDoList";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="d-flex justify-content-center align-items-center h-100">
    <div class="col col-xl-6 m-5">

    <div class="card shadow p-3 mb-5 bg-white rounded" style="border-radius: 10px;">
        <div class="card-body p-5">
                <a href="@Url.Action("Index", "Task")" class="elements">
                    <span>Back to tasks</span>
                </a>
            <h6 class="mb-3">Categories</h6>
                <form asp-action="AddCategory" method="post" class="d-flex justify-content-between">
                    <div class="d-flex flex-column w-25">
                        <label for="title">Title:</label>
                        <input type="text" id="title" asp-for="NewCategory.Name" />
                        <span asp-validation-for="NewCategory.Name" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary" style="max-height: 50px">Create Task</button>
                </form>

            <ul class="list-group mb-0 mt-5">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom-4 rounded-0 mb-2">
                        <div class="d-flex align-items-center w-100">
                            <div class="d-flex w-100">
                                <span class="w-50">Name</span>
                            </div>
                        </div>
                    </li>
                    @foreach (var category in Model.Categories.Where(c => c.Id != 1))
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                            <div class="d-flex align-items-center w-100">
                                <span class="w-50">@category.Name</span>
                            </div>
                            <form method="post" asp-action="DeleteCategory">
                                <input type="hidden" name="Id" value="@category.Id" />
                                <input type="submit" value="&#10006;" class="btn btn-primary-outline shadow-none" />
                            </form>
                        </li>
                    }
            </ul>
        </div>
    </div>

    </div>
</div>
